
{% load static %}
<!DOCTYPE html>

  <html>
    <head>
      <meta charset="utf-8">
      <title>Basic Template</title>
    </head>
	<body>
	<h1>Nivi</h1>
	<input type="text" class="form-control input-box input-upload" name="trainDataSheet"
					id="id_trainDataSheet" placeholder="Upload Dataset" style="width:273px;" />
				<a href="#" class="btn btn-solid upload dataPreparationUpload"
					style="margin-left: 296px;margin-top: -52px;">
					browse
					<input type="file" class="from-control input-box" href="" name="file" id="file" />
				</a>
	
	</body>

 </html>